<!-- Main modal -->
<div class="relative px-4 py-2 w-md max-w-[90vw] max-h-[90vh] mb-10" (click)="$event.stopPropagation()">
    <!-- Modal content -->
    <div class="relative bg-white border border-gray-200 rounded-xl shadow-sm p-4 md:p-6">
        <!-- Modal header -->
        <div class="flex items-center justify-between border-b border-b-gray-300 pb-2">
            <h3 class="text-lg font-medium text-heading">
                {{ headerText() }}
            </h3>
            <button (click)="onCloseClick()" type="button" class="text-body bg-transparent hover:bg-neutral-tertiary hover:text-heading rounded-base text-sm w-9 h-9 ms-auto inline-flex justify-center items-center cursor-pointer" data-modal-hide="authentication-modal">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/></svg>
                <span class="sr-only">Close modal</span>
            </button>
        </div>
        <!-- Modal body -->
        <form [formGroup]="reviewForm" (ngSubmit)="addEditReview()" ngNativeValidate class="flex flex-col gap-y-2 pt-5">
            <div class="flex flex-col gap-4">
                <div class="w-full">
                    <label for="comment" class="font-semibold text-base">How would you rate your experience?</label>         
                    <div class="flex items-center space-x-1">
                    @for(i of [1, 2, 3, 4, 5]; track i){
                        <div (click)="setRating(i)" class="cursor-pointer">
                            <svg [class.text-amber-400]="reviewForm.controls.rating.value >= i"
                                [class.text-gray-300]="reviewForm.controls.rating.value < i"
                                class="w-6 h-6 text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24"><path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"/>
                            </svg> 
                        </div>                              
                    }
                    </div>
                </div>

                <div class="w-full">
                    <label for="comment" class="font-medium">Tell us more about the exchange</label>         
                    <textarea id="comment" formControlName="comment" class="block w-full mt- p-2 ps-2 border border-gray-300 text-sm rounded-lg focus:ring-2 shadow-xs bg-gray-50" rows="3"></textarea>
                    @if((reviewForm.get('comment')?.errors?.['required'] || !reviewForm.get('comment')?.value?.trim()) && reviewForm.get('comment')?.touched){
                        <small class="text-red-800">Please share your experience with a comment</small>
                    }
                    @if(reviewForm.get('comment')?.errors?.['minlength']){
                        <small class="text-red-800">Comment must be at least 10 characters.</small>
                    }
                    @if(reviewForm.get('comment')?.errors?.['maxlength']){
                        <small class="text-red-800">Comment cannot exceed 200 characters.</small>
                    }
                </div>
            </div>    
            <div class="w-full flex gap-2">
                <button (click)="onCloseClick()" type="button" class="flex-1 mt-4 text-sm py-2 px-10 cursor-pointer bg-gray-100 rounded-full border border-gray-200">
                    Cancel
                </button>
                <button type="submit" class="whitespace-nowrap flex-1 mt-4 bg-green-900 hover:bg-green-800 text-white text-sm py-2 px-10 rounded-full transition-all cursor-pointer">
                    {{ buttonText() }}
                </button>
            </div>
        </form>
    </div>
</div>

