<div class="flex flex-col w-full px-10 pt-5 pb-5">
    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 gap-3">
        <div class="bg-white border border-gray-200 px-5 py-3 rounded-xl shadow shadow-sm">
            <div class="flex justify-between">
                <h2 class="uppercase text-gray-400">{{ 'analytics.recommendation' | translate }}</h2>
            </div>
            <div class="pt-2">
                @for(plant of analytics()?.plantRecommendations; track $index){
                    <p (click)="search(plant)" class="cursor-pointer">{{$index + 1}}. <span class="cursor-pointer text-blue-500 hover:underline">{{plant}}</span></p>
                }
            </div>
        </div>
        <div class="bg-white border border-gray-200 px-5 py-7 rounded-xl shadow shadow-sm">
            <div class="flex justify-between">
                <h2 class="uppercase text-gray-400">{{ 'analytics.total' | translate }}</h2>
                <div 
                    class="h-7 w-7 bg-green-800 shrink-0 self-center -translate-y-2"
                    [style.mask]="'url(' + '/assets/images/icons/plant-in-pot.svg' + ') no-repeat center / contain'"
                    [style.webkit-mask]="'url(' + '/assets/images/icons/plant-in-pot.svg' + ') no-repeat center / contain'">
                </div>
            </div>
            <p class="font-bold text-3xl">{{ analytics()?.summary?.numOfPlants ?? 0 }}</p>
        </div>
        <div class="bg-white border border-gray-200 px-5 py-7 rounded-xl shadow shadow-sm">
            <div class="flex justify-between">
                <h2 class="uppercase text-gray-400">{{ 'analytics.active' | translate }}</h2>
                <div 
                    class="h-7 w-7 bg-green-800 shrink-0 self-center -translate-y-1"
                    [style.mask]="'url(' + '/assets/images/icons/leaf.svg' + ') no-repeat center / contain'"
                    [style.webkit-mask]="'url(' + '/assets/images/icons/leaf.svg' + ') no-repeat center / contain'">
                </div>
            </div>
            <p class="font-bold text-3xl">{{ analytics()?.summary?.numOfCurrentPlants ?? 0 }}</p>
        </div>
        <div class="bg-white border border-gray-200 px-5 py-7 rounded-xl shadow shadow-sm">
            <div class="flex justify-between">
                <h2 class="uppercase text-gray-400">{{ 'analytics.survival' | translate }}</h2>
                <svg class="h-7 w-7 -translate-y-1  text-red-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
                </svg>
            </div>
            <p class="font-bold text-3xl">{{ survivalRate() }}%</p>
        </div>
        <div class="bg-white border border-gray-200 px-5 py-7 rounded-xl shadow shadow-sm">
            <div class="flex justify-between">
                <h2 class="uppercase text-gray-400">{{ 'analytics.gardening' | translate }}</h2>
                <svg class="h-7 w-7 -translate-y-1 text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path fill-rule="evenodd" d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Z" clip-rule="evenodd" />
                </svg>
            </div>
            <p class="font-bold text-2xl">{{ (analytics()?.summary?.firstPlantedDate | date: 'MMM dd, yyy') ?? '—'}}</p>
        </div>
        <div class="bg-teal-900 text-white border border-gray-200 px-5 py-4 rounded-xl shadow shadow-sm">
            <div class="flex justify-between">
                <h2 class="uppercase text-gray-200">{{ 'analytics.logSummary' | translate }}</h2>
                <svg class="h-7 w-7 -translate-y-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M11.25 4.533A9.707 9.707 0 0 0 6 3a9.735 9.735 0 0 0-3.25.555.75.75 0 0 0-.5.707v14.25a.75.75 0 0 0 1 .707A8.237 8.237 0 0 1 6 18.75c1.995 0 3.823.707 5.25 1.886V4.533ZM12.75 20.636A8.214 8.214 0 0 1 18 18.75c.966 0 1.89.166 2.75.47a.75.75 0 0 0 1-.708V4.262a.75.75 0 0 0-.5-.707A9.735 9.735 0 0 0 18 3a9.707 9.707 0 0 0-5.25 1.533v16.103Z" />
                </svg>

            </div>
            <div class="flex items-end gap-1 border-b border-b-gray-400/50 pb-1">
                <p class="font-bold text-3xl">{{ analytics()?.summary?.numOfLogsOverAll ?? 0 }}</p>
                <p class="pb-1 text-sm">{{ 'analytics.totalLogs' | translate }}</p>
            </div>
            <p class="text-gray-300 pt-1">{{ 'analytics.logsYear' | translate }}</p>
            <p class="text-lg">{{ analytics()?.summary?.numOfLogsThisYear ?? 0 }}</p>
        </div>
    </div>

    <div class="mt-5 grid grid-cols-1 lg:grid-cols-2 gap-4">
        <div>
            <h2 class="font-bold text-lg py-1">{{ 'analytics.groupSuccess' | translate }}</h2>
            <div class="bg-white w-full border border-gray-200 px-6 py-6 rounded-xl shadow shadow-sm">
                @if((analytics()?.groupPlantSuccess?.length ?? 0) > 0) {
                    <div class="w-full h-full">
                        <apx-chart
                            [series]="groupSuccessAreaChartOptions().series"
                            [chart]="groupSuccessAreaChartOptions().chart"
                            [stroke]="groupSuccessAreaChartOptions().stroke"
                            [fill]="groupSuccessAreaChartOptions().fill"
                            [dataLabels]="groupSuccessAreaChartOptions().dataLabels"
                            [xaxis]="groupSuccessAreaChartOptions().xaxis"
                            [yaxis]="groupSuccessAreaChartOptions().yaxis"
                            [colors]="groupSuccessAreaChartOptions().colors"
                            [markers]="groupSuccessAreaChartOptions().markers"
                            [plotOptions]="groupSuccessAreaChartOptions().plotOptions"
                            [legend]="groupSuccessAreaChartOptions().legend">    
                        </apx-chart>
                    </div>
                }
                @else {
                    <div class="flex items-center h-full justify-center">
                        <p class="italic text-gray-400 self-center justify-self-center py-15">{{ 'analytics.noInfo' | translate }}</p>
                    </div>
                } 
            </div>
        </div>

        <div>
            <h2 class="font-bold text-lg py-1">{{ 'analytics.familySuccess' | translate }}</h2>
            <div class="bg-white w-full border border-gray-200 px-6 py-6 rounded-xl shadow shadow-sm">
                @if((analytics()?.groupPlantSuccess?.length ?? 0) > 0) {
                    <div class="w-full h-full">
                        <apx-chart
                            [series]="familySuccessAreaChartOptions().series"
                            [chart]="familySuccessAreaChartOptions().chart"
                            [stroke]="familySuccessAreaChartOptions().stroke"
                            [fill]="familySuccessAreaChartOptions().fill"
                            [dataLabels]="familySuccessAreaChartOptions().dataLabels"
                            [xaxis]="familySuccessAreaChartOptions().xaxis"
                            [yaxis]="familySuccessAreaChartOptions().yaxis"
                            [colors]="familySuccessAreaChartOptions().colors"
                            [markers]="familySuccessAreaChartOptions().markers"
                            [plotOptions]="familySuccessAreaChartOptions().plotOptions"
                            [legend]="familySuccessAreaChartOptions().legend">    
                        </apx-chart>
                    </div>
                }
                @else {
                    <div class="flex items-center h-full justify-center">
                        <p class="italic text-gray-400 self-center justify-self-center py-15">{{ 'analytics.noInfo' | translate }}</p>
                    </div>
                } 
            </div>
        </div>

    </div>
    <div class="mt-5">
        <h2 class="font-bold text-lg py-1">{{ 'analytics.care&Health' | translate }}</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">   
            <div class="w-full md:max-w-md bg-white border border-gray-200 px-6 py-6 rounded-xl shadow shadow-sm">
                <p class="font-medium text-base">{{ 'analytics.reminderPerformance' | translate }}</p>     
                @if (performanceData().length > 0){
                    @for(item of performanceData(); track $index){
                        <div class="flex flex-col gap-3 pt-3">
                            <div>
                                <div class="flex justify-between">
                                    <p class="text-gray-500 capitalize">{{ item.label.toLowerCase() | translate }}</p>
                                    <p class="font-semibold">{{ item.value }}%</p>
                                </div>
                                <div class="w-full h-4 bg-gray-200/70 rounded-full overflow-hidden">
                                    <div
                                        class="h-full transition-all duration-1000 ease-out"
                                        [style.width.%]="item.value"
                                        [style.backgroundColor]="item.color">
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                @else {
                    <div class="flex items-center h-full justify-center pb-5">
                        <p class="italic text-gray-400 self-center justify-self-center">{{ 'analytics.noInfo' | translate }}</p>
                    </div>
                }      
            </div>

            <div class="bg-white border border-gray-200 py-6 rounded-xl shadow shadow-sm">
                <p class="font-medium text-base px-5">{{ 'analytics.healthDistribution' | translate }}</p>
                <div class="flex items-center h-full -space-x-5 justify-center">
                    @if(healthData().length > 0) {
                        @for(item of healthData(); track $index){
                            <div class="flex flex-col items-center w-36">
                                <apx-chart
                                    [series]="[item.value]"
                                    [labels]="[item.label.toLowerCase() | translate]"
                                    [chart]="chartOptions.chart"
                                    [plotOptions]="chartOptions.plotOptions"
                                    [colors]="[item.color]">    
                                </apx-chart>
                            </div>
                        }
                    }
                    @else {
                        <p class="italic text-gray-400 pb-5">{{ 'analytics.noInfo' | translate }}</p>
                    } 
                </div>
            </div>

            <div class="bg-white w-full lg:min-w-xs border border-gray-200 px-6 py-6 rounded-xl shadow shadow-sm">
                <p class="font-medium text-base pb-2">{{ 'analytics.actionFrequency' | translate }}</p>
                @if((analytics()?.actionStats?.length ?? 0) > 0) {
                    <div class="flex flex-col items-center">
                        <apx-chart
                            [series]="donutChartOptions().series"
                            [labels]="donutChartOptions().labels"
                            [chart]="donutChartOptions().chart"
                            [colors]="donutChartOptions().colors"
                            [plotOptions]="donutChartOptions().plotOptions"
                            [fill]="donutChartOptions().fill">    
                        </apx-chart>
                    </div>
                }
                @else {
                    <div class="flex items-center h-full justify-center pb-5">
                        <p class="italic text-gray-400 self-center justify-self-center">{{ 'analytics.noInfo' | translate }}</p>
                    </div>
                } 
            </div>
            
        </div>
    </div>

    <div class="mt-5 grid grid-cols-1 lg:grid-cols-2 gap-4">
        <div>
            <h2 class="font-bold text-lg py-1">{{ 'analytics.seasonalPlantings' | translate }}</h2>
            <div class="bg-white w-full border border-gray-200 px-6 py-6 rounded-xl shadow shadow-sm">
                @if((analytics()?.seasonalPlanting?.length ?? 0) > 0) {
                    <div class="w-full h-full">
                        <apx-chart
                            [series]="seasonalPlantingAreaChartOptions().series"
                            [chart]="seasonalPlantingAreaChartOptions().chart"
                            [stroke]="seasonalPlantingAreaChartOptions().stroke"
                            [fill]="seasonalPlantingAreaChartOptions().fill"
                            [dataLabels]="seasonalPlantingAreaChartOptions().dataLabels"
                            [xaxis]="seasonalPlantingAreaChartOptions().xaxis"
                            [yaxis]="seasonalPlantingAreaChartOptions().yaxis"
                            [colors]="seasonalPlantingAreaChartOptions().colors"
                            [grid]="seasonalPlantingAreaChartOptions().grid">    
                        </apx-chart>
                    </div>
                }
                @else {
                    <div class="flex items-center h-full justify-center">
                        <p class="italic text-gray-400 self-center justify-self-center py-15">{{ 'analytics.noInfo' | translate }}</p>
                    </div>
                } 
            </div>
        </div>
        <div>
            <h2 class="font-bold text-lg py-1">{{ 'analytics.logActivity' | translate }}</h2>
            <div class="bg-white w-full border border-gray-200 px-6 py-6 rounded-xl shadow shadow-sm">
                @if((analytics()?.growthLogActivity?.length ?? 0) > 0) {
                    <div class="w-full h-full">
                        <apx-chart
                            [series]="logLineChartOptions().series"
                            [chart]="logLineChartOptions().chart"
                            [stroke]="logLineChartOptions().stroke"
                            [fill]="logLineChartOptions().fill"
                            [dataLabels]="logLineChartOptions().dataLabels"
                            [xaxis]="logLineChartOptions().xaxis"
                            [yaxis]="logLineChartOptions().yaxis"
                            [colors]="logLineChartOptions().colors"
                            [markers]="logLineChartOptions().markers">    
                        </apx-chart>
                    </div>
                }
                @else {
                    <div class="flex items-center h-full justify-center">
                        <p class="italic text-gray-400 self-center justify-self-center py-15">{{ 'analytics.noInfo' | translate }}</p>
                    </div>
                } 
            </div>
        </div>
    </div>
    <div class="flex gap-4 mt-4">
        <div class="w-full">
            <h2 class="font-bold text-lg py-1">{{ 'analytics.healthPrediction' | translate }}</h2>
            <div class="bg-white w-full border border-gray-200 px-6 py-6 rounded-xl shadow shadow-sm">
                @if((analytics()?.healthPrediction?.length ?? 0) > 0) {
                    <select (change)="onPlantChange($event)">
                        @for (pred of analytics()?.healthPrediction; track $index) {
                            <option [value]="$index">
                                {{ pred.plantName }} - {{ pred.placeName }}
                            </option>
                        }
                    </select>

                    <div class="w-full h-full">
                        <apx-chart
                            [series]="predictionPlantLineChartOptions().series"
                            [chart]="predictionPlantLineChartOptions().chart"
                            [stroke]="predictionPlantLineChartOptions().stroke"
                            [fill]="predictionPlantLineChartOptions().fill"
                            [dataLabels]="predictionPlantLineChartOptions().dataLabels"
                            [xaxis]="predictionPlantLineChartOptions().xaxis"
                            [yaxis]="predictionPlantLineChartOptions().yaxis"
                            [colors]="predictionPlantLineChartOptions().colors"
                            [markers]="predictionPlantLineChartOptions().markers"
                            [plotOptions]="predictionPlantLineChartOptions().plotOptions">    
                        </apx-chart>
                    </div>
                }
                @else {
                    <div class="flex items-center h-full justify-center">
                        <p class="italic text-gray-400 self-center justify-self-center py-15">{{ 'analytics.noInfo' | translate }}</p>
                    </div>
                } 
            </div>
        </div>
        <div class="w-100">
            <h2 class="font-bold text-lg py-1">{{ 'analytics.hallOfFame' | translate }}</h2>
            @if (!analytics()?.hallOfFame?.oldestPlant && !analytics()?.hallOfFame?.mostResilientPlant){
                <div class="flex items-center h-full justify-center bg-white border border-gray-200 px-6 py-6 rounded-xl shadow shadow-sm">
                    <p class="italic text-gray-400 self-center justify-self-center py-15">{{ 'analytics.noInfo' | translate }}</p>
                </div>
            }
            <div class="flex flex-col gap-2">
                <!--Oldest Plant Start-->
                @if (analytics()?.hallOfFame?.oldestPlant){
                    <div class="bg-green-900/10 w-full border border-gray-300 px-5 py-5 rounded-xl shadow shadow-sm">
                        <div class="pb-3 flex items-center gap-2">
                            <div 
                                class="h-5 w-5 bg-green-800 shrink-0 self-center"
                                [style.mask]="'url(' + '/assets/images/icons/undo.svg' + ') no-repeat center / contain'"
                                [style.webkit-mask]="'url(' + '/assets/images/icons/undo.svg' + ') no-repeat center / contain'">
                            </div>
                            <div>
                                <h2 class="font-semibold text-base">{{ 'analytics.oldestPlant' | translate }}</h2>
                                <p class="uppercase -mt-0.5 text-xs text-gray-600">{{ 'analytics.legacyMaster' | translate }}</p>
                            </div>
                        </div>
                        <div class="flex gap-2 items-center">
                            <div class="relative h-12 sm:h-12 aspect-square overflow-hidden flex-shrink-0 content-center border border-green-900/10 rounded-lg">
                                @if (analytics()?.hallOfFame?.oldestPlant?.image) {
                                    <img [src]="analytics()?.hallOfFame?.oldestPlant?.image || 'assets/icons/placeholder.svg'" 
                                        class="absolute inset-0 w-full h-full rounded-lg object-cover">} 
                                @else {
                                    <img src="/assets/images/icons/placeholder.svg" class="absolute inset-0 w-full h-full rounded-lg object-contain">
                                }              
                            </div>
                            <div>
                                <h2 class="z-10 text-base font-bold capitalize">{{ analytics()?.hallOfFame?.oldestPlant?.plantName }}</h2>     
                                <p [innerHTML]="'analytics.daysAliveNum' | translate:{ count: analytics()?.hallOfFame?.daysAlive }"></p>
                            </div>
                        </div>
                        
                    </div>
                }
                <!--Oldest Plant End-->
                <!--Most Resilient Plant Start-->
                @if (analytics()?.hallOfFame?.mostResilientPlant){   
                    <div class="bg-red-900/10 w-full border border-gray-300 px-5 py-5 rounded-xl shadow shadow-sm">
                        <div class="pb-3 flex items-center gap-2">
                            <div 
                                class="h-5 w-5 bg-red-800 shrink-0 self-center"
                                [style.mask]="'url(' + '/assets/images/icons/dumbbell.svg' + ') no-repeat center / contain'"
                                [style.webkit-mask]="'url(' + '/assets/images/icons/dumbbell.svg' + ') no-repeat center / contain'">
                            </div>
                            <div>
                                <h2 class="font-semibold text-base">{{ 'analytics.resilientPlant' | translate }}</h2>
                                <p class="uppercase -mt-0.5 text-xs text-gray-600">{{ 'analytics.survivor' | translate }}</p>
                            </div>
                        </div>
                        
                        <div class="flex gap-2 items-center">
                            <div class="relative h-12 sm:h-12 aspect-square overflow-hidden flex-shrink-0 content-center border border-red-900/10 rounded-lg">
                                @if (analytics()?.hallOfFame?.mostResilientPlant?.image) {
                                    <img [src]="analytics()?.hallOfFame?.mostResilientPlant?.image" class="absolute inset-0 w-full h-full rounded-lg object-cover">
                                } @else {
                                    <img src="/assets/images/icons/placeholder.svg" class="absolute inset-0 w-full h-full aspect-square rounded-lg object-contain">
                                }
                            </div>
                            <div>
                                <h2 class="z-10 text-base font-bold capitalize">{{ analytics()?.hallOfFame?.mostResilientPlant?.plantName }}</h2> 
                                <p [innerHTML]="'analytics.survivedReminders' | translate:{ count: analytics()?.hallOfFame?.numOfLateReminder }"></p>
                            </div>  
                        </div>
                    </div>
                }
                <!--Most Resilient Plant End-->
            </div>
        </div>
    </div>
</div>
