<!-- Main modal -->
<div class="relative px-4 py-2 w-xl max-w-[100vw] max-h-[90vh] mb-10" (click)="$event.stopPropagation()">
    <!-- Modal content -->
    <div class="relative bg-white border border-gray-200 rounded-xl shadow-sm p-4 md:p-6">
        <!-- Modal header -->
        <div class="flex items-center justify-between border-b border-default pb-2">
            <h3 class="text-lg font-medium text-heading">
                {{ headerText() }}
            </h3>
            <button (click)="onCloseClick()" type="button" class="text-body bg-transparent hover:bg-neutral-tertiary hover:text-heading rounded-base text-sm w-9 h-9 ms-auto inline-flex justify-center items-center cursor-pointer" data-modal-hide="authentication-modal">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/></svg>
                <span class="sr-only">Close modal</span>
            </button>
        </div>
        <!-- Modal body -->
        @if (showWarning()){
            <div class="p-4 flex items-center bg-red-50 w-full rounded-xl border border-red-200">
                <p class="text-sm flex-1 text-center">{{ this.errorMessage() }}</p>
                <button (click)="closeWarningClick()" type="button" class="justify-center items-center cursor-pointer p-1" data-modal-hide="authentication-modal">
                        <svg class="w-4 h-4 text-red-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/></svg>
                        <span class="sr-only">Close modal</span>
                </button>
            </div>
        }
        <form [formGroup]="groupForm" (ngSubmit)="addEditGroup()" ngNativeValidate class="flex flex-col gap-y-2 pt-5">
            <div>
                <label for="name" class="block text-sm font-medium text-heading px-1 py-1">{{ 'common.name' | translate }}*</label>
                <input type="text" id="name" formControlName="name" class="block w-full p-2 ps-2 border border-gray-300 text-sm rounded-lg focus:ring-2 shadow-xs bg-gray-50 placeholder:text-body" placeholder="Name" autocomplete="off" required />
            </div>  
            <div>
                <label for="note" class="block text-sm font-medium text-heading px-1 py-1">{{ 'common.description' | translate }}</label>
                <textarea id="note" formControlName="description" class="block w-full p-2 ps-2 border border-gray-300 text-sm rounded-lg focus:ring-2 shadow-xs bg-gray-50" [placeholder]="('common.description' | translate) + '...'" rows="4"></textarea>
            </div>   
            <button type="submit" class="mt-7 w-full bg-green-900 hover:bg-green-800 text-white text-sm py-2 px-4 rounded-full transition-all cursor-pointer">
                {{ buttonText() }}
            </button>
        </form>
    </div>
</div>

