<div class="flex flex-col px-10 lg:px-20 py-5 gap-5">
    <div class="flex flex-col md:flex-row gap-5 gap-x-8">
        <!--Start of images--> 
        <div class="flex flex-col w-full md:w-1/2 gap-y-1 py-5">
            <div class="flex overflow-hidden rounded-xl aspect-2/1">
                @if(exchange()?.image){
                    <img [src]="exchange()?.image" class="w-full h-full object-cover">
                }
                @else {
                    <div class="flex flex-col w-full bg-gray-100 items-center justify-center">
                        <div 
                            class="h-10 w-10 bg-gray-400 shrink-0"
                            [style.mask]="'url(' + '/assets/images/icons/no-image-svgrepo-com.svg' + ') no-repeat center / contain'"
                            [style.webkit-mask]="'url(' + '/assets/images/icons/no-image-svgrepo-com.svg' + ') no-repeat center / contain'">
                        </div>
                        <p class="text-gray-400">{{ 'userPlantDetails.coverImage' | translate}}</p>
                    </div>
                }
            </div>
            @if((exchange()?.images?.length ?? 0) > 0){
                <div class="grid grid-cols-4 gap-1.5">
                @for(image of displayImages(); track image.id){
                    <img [src]="image.url" class="w-full h-full object-cover rounded-md">
                }
                </div>
                @if(hasMoreImages()){
                    <div class="relative flex flex-col w-full aspect-square items-center justify-center">                          
                        <img [src]="exchange()!.images![3].url" class="absolute inset-0 w-full h-full object-cover rounded-md">
                        <div class="w-full h-full capitalize absolute inset-0 bg-black opacity-50 rounded-md"></div>
                        <p class="z-50 text-white text-base">+{{ (exchange()?.images?.length ?? 4) - 4 }}</p>
                    </div>
                }
            }
        </div>
        <!--End of images-->
        <!--Start of exchange info-->
        <div class="relative md:mt-5 w-full md:w-1/2 flex flex-col flex-1 gap-3 py-5 bg-white px-5 rounded-lg shadow shadow-sm">
            <div class="flex gap-1 items-center justify-between">
                <div class="flex">
                    <p class="rounded-full px-5 py-1 text-base bg-gray-100 text-green-900 border border-gray-500 capitalize">{{ exchange()?.exchangeType?.name?.toLowerCase() | translate }}</p>
                </div>
                @if (exchange()?.user?.id === authService.currentUser()?.id || authService.isAdmin()) {
                    <div (click)="toggleMenu()" class="cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                            <path fill-rule="evenodd" d="M10.5 6a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm0 6a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm0 6a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Z" clip-rule="evenodd" />
                        </svg>
                    </div> 
                }   
            </div>           
            <div class="flex gap-1 items-center justify-between">
                <h2 class="font-bold text-3xl">{{ exchange()?.title }}</h2>
                <div class="flex">
                    <p class="font-semibold text-2xl">${{ exchange()?.price ?? 0 | number:'1.1-1' }}</p>
                </div>
            </div>
            <div class="flex items-center gap-2 -mt-3">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-4 w-4 text-gray-500">
                    <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                </svg>
                <p class="text-base -ml-1">{{ exchange()?.user?.name }}</p>
                <div class="flex items-center gap-0.5">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-3 h-3 text-amber-400">
                        <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
                    </svg>
                    <p>{{ exchange()?.userRating | number:'1.1-1' }} ({{ exchange()?.userRatings?.length ?? 0 }})</p>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="py-3 border-b border-b-gray-200">
                    <p class="font-medium text-xl">{{ 'common.description' | translate}}</p>
                    <p class="text-base">{{ exchange()?.content }}</p>
                </div>
                <div class="py-3 border-b border-b-gray-200">
                    <p class="pb-1 font-medium text-xl">{{ 'plantDetails.plantDetails' | translate}}</p>
                    <div class="flex items-center gap-2">  
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-4 w-4 text-green-800">
                            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                        </svg>
                        <p class="text-base font-medium text-lg">{{ 'common.status' | translate}}:</p>
                        <p class="text-base">{{ exchange()?.plantStatus }}</p>
                    </div>
                    <div class="flex items-center gap-2">  
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-4 w-4 text-blue-700">
                            <path d="M3.375 4.5C2.339 4.5 1.5 5.34 1.5 6.375V13.5h12V6.375c0-1.036-.84-1.875-1.875-1.875h-8.25ZM13.5 15h-12v2.625c0 1.035.84 1.875 1.875 1.875h.375a3 3 0 1 1 6 0h3a.75.75 0 0 0 .75-.75V15Z" />
                            <path d="M8.25 19.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0ZM15.75 6.75a.75.75 0 0 0-.75.75v11.25c0 .087.015.17.042.248a3 3 0 0 1 5.958.464c.853-.175 1.522-.935 1.464-1.883a18.659 18.659 0 0 0-3.732-10.104 1.837 1.837 0 0 0-1.47-.725H15.75Z" />
                            <path d="M19.5 19.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
                        </svg>

                        <p class="text-base font-medium text-lg">{{ 'trade.shipping' | translate}}:</p>
                        <p class="text-base">{{ exchange()?.shipping }}</p>
                    </div>
                    <div class="flex items-center gap-2">  
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-4 w-4 text-gray-400">
                            <path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" />
                        </svg>

                        <p class="text-base font-medium text-lg">{{ 'common.location' | translate }}:</p>
                        <p class="text-base">{{ exchange()?.city }}, {{ exchange()?.country?.name }}</p>
                    </div>
                </div>
                <div class="py-3">
                    <p class="pb-1 font-medium text-base text-xl">{{ 'trade.contactInfo' | translate}}</p>
                    <div class="flex items-center gap-2">  
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-4 w-4 text-gray-400">
                            <path d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z" />
                            <path d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z" />
                        </svg>
                        <p class="text-base">{{ exchange()?.contact }}</p>
                    </div>
                </div>
            </div>


            @if(isMenuOpened()){
                <div class="fixed inset-0 z-10" (click)="toggleMenu()"></div> 
                <div class="absolute top-12 mb-2 right-5 z-20 bg-white flex flex-col justify-start items-center text-sm rounded-md border border-gray-200">
                    <button (click)="editExchange()" class="px-5 py-1.5 w-full text-end border-b border-b-gray-100 hover:bg-gray-50 cursor-pointer">{{ 'actions.edit' | translate}}</button>
                    <button (click)="deleteExchange()" class="px-5 py-1.5 w-full text-end hover:bg-gray-50 cursor-pointer">{{ 'actions.delete' | translate}}</button>
                </div>
            }      

        </div>
        <!--End of exchange info-->       
    </div>

    <div class="mt-5 pt-5 border-t border-t-2 border-t-gray-200">
        <h2 class="text-xl font-semibold">{{ 'review.reviewsFor' | translate}} {{ exchange()?.user?.name }}</h2>
        <p class=" text-gray-400">{{ 'review.reviewsText' | translate}}</p>
        <div class="flex flex-col gap-3 pt-5">
            @if(showAddReviewButton()){
                <button (click)="addReview()" class="w-fit px-5 py-2 bg-green-900/70 text-white rounded-lg cursor-pointer">{{ 'review.add' | translate}}</button>
            }
            
            @for(review of exchange()?.userRatings; track review.id){
                <div class="relative px-5 py-7 bg-white shadow shadow-sm rounded-lg w-full sm:w-xl">
                    <div class="flex items-center gap-1 justify-between">
                        <div class="flex items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-gray-400">
                                <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" clip-rule="evenodd" />
                            </svg>
                            <p class="font-medium">{{ review.rater.name }}</p>
                        </div>
                        <p class="text-gray-400 text-xs">{{ review.createdAt | timeAgo }}</p>
                    </div>
                    <div class="flex items-center space-x-1">
                        @for(i of [1, 2, 3, 4, 5]; track i){
                            <svg [class.text-amber-400]="review.rating >= i"
                                [class.text-gray-300]="review.rating < i"
                                class="w-4 h-4 text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24"><path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"/>
                            </svg>                             
                        }
                    </div>
                    <p class="pt-2">"{{ review.comment }}"</p>
                    
                    @if (review.rater.id === authService.currentUser()?.id || authService.isAdmin()) {
                        <div (click)="toggleReviewMenu(review.id, $event)" class="absolute top-2 right-4 cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                <path fill-rule="evenodd" d="M4.5 12a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm6 0a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm6 0a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    }
                
                    @if(openedReviewMenuId() === review.id){
                        <div class="fixed inset-0 z-10" (click)="toggleReviewMenu(review.id, $event)"></div> 
                        <div class="absolute top-7 mb-2 right-3 z-20 bg-white flex flex-col justify-start items-center text-sm rounded-md border border-gray-200">
                            <button (click)="editReview(review.id)" class="px-8 py-1.5 w-full text-end border-b border-b-gray-100 hover:bg-gray-50 cursor-pointer">{{ 'actions.edit' | translate}}</button>
                            <button (click)="deleteReview(review.id)" class="px-8 py-1.5 w-full text-end hover:bg-gray-50 cursor-pointer">{{ 'actions.delete' | translate}}</button>
                        </div>
                    }
                    
                </div>
            }
        </div>
    </div>
</div>

@if (isReviewModalOpen()) {
    <div class="fixed inset-0 z-40 bg-black/20 backdrop-blur-sm transition-opacity w-full" (click)="toggleReviewModal()">
        <div class="fixed inset-0 z-50 flex justify-center items-center h-full max-h-full content-center overflow-y-auto w-full">
            <app-add-edit-review-modal (close)="toggleReviewModal()" [user]="exchange()?.user" (updateList)="loadExchange()" [editReview]="reviewToEdit()"></app-add-edit-review-modal>
        </div>
    </div>
}
