/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@source "./app/components/**/*.html";
@source "./app/pages/**/*.html";
@source "./app/**/*.{html,ts}";

:root {
    --background: #f6f7f0;
    --background-2: #f6f3ea;
    --button: #3c5736;
    --button-text: #e1e8d9;
}

.snackbar-success,
.snackbar-error {
    --mat-snack-bar-button-color: #ffffff;
    --mdc-snackbar-supporting-text-color: #ffffff;
}

body {
    /*background-color: var(--background);*/
    /*background-color: white;*/
    background-color: #f9fafb;
}

.mat-mdc-snack-bar-container.snackbar-error .mdc-snackbar__surface {
    background-color: #960f0ff3 !important;
}

.mat-mdc-snack-bar-container.snackbar-success .mdc-snackbar__surface {
    background-color: #14532d !important;
}